<div class = nav>
  <%= link_to "Home", root_path, class: 'btn btn-success' %>
</div>

<h1> Enter New Vendor </h1>
<br>
<br>
  
  
<div class ='well'>
<%= form_for @vendor do |f| %> 
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_area :address, rows: 3 %>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  
  <%= f.label "Brands" %>
  <%= f.collection_check_boxes :brand_ids, Brand.all.order('name ASC'), :id, :name do |cb| %>
  <% cb.label(class: "checkbox inline"){cb.check_box(class:"checkbox") + cb.text} %>
  <%end%>
  
  <br>
  <br>
  <%= f.submit 'Edit Vendor', class: 'btn btn-primary' %>
</div>

<%end%>
